 #root {
    margin: 0 auto;
    width: 75%;
  }
  .conteiner {
    position: relative;
    background-color: rgb(8, 8, 8);
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
  }
  .email {
    color: rgb(147, 145, 145);
  }
  
  .user,
  .titlePost {
    font-weight: 800;
    display: flex;
    align-items: center;
    gap: 7px;
  }
  .titlePost {
    color: rgb(147, 145, 145);
  }
  
  .deletePost {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
  
  .img {
    width: 15px;
    height: 15px;
  }
  
  .preloader {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;
  }
  
  .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-left: -20px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 2s linear infinite;
  } 